.btn_prime_green {
  letter-spacing: -5%;
  color: var(--main-font-color);
  font-weight: var(--regular-font-weight);
  font-size: var(--main-font-size-large);
  background-color: #00c268;
  border-radius: 4px;
  border: none;
  padding: 0.3rem 1rem;
}
